body {
    font-family: 'Outfit', sans-serif;
}
body { 
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background-color: white;
    margin: 0 auto;
    width: 70%;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 1rem;
    box-shadow: 8px rgba(0, 0, 0, 0.2);
}

.card-image img {
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 3px;  
}
.text{
    text-align: center;
    justify-content: center;
}
.text h3 {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

.text p {
    color: hsl(216, 15%, 48%);
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 20px;
}


/* Media Queries for responsiveness */
@media (min-width: 320px) {
    .card {
        width: 50%;
    }
}

@media (min-width: 600px) {
    .card {
        width: 70%;
    }
}